@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Raleway:ital,wght@1,800;1,900&display=swap');

.page_404 { 
  padding:30px 0; 
  background:#fff; 
}

.page_404  img { 
  width:100%;
  padding: 10px;
}

.simon {
  width:100%;
}
.simon h3 {
  @include texto (calc(2em + 5vw),0.6em,$text_Bold);
  color: $dkpink-color;
  font-family: "Raleway", sans-serif;
}

.contant_box_404 {
    p {
    font-size: calc(0.2em + 2vw);
    color: rgb(50, 125, 41);
    color: $dkgreen-color;
    font-family: "verdana"
    }

.button-link {    
  @extend .button-base;
  background: $ltgreen-gradient;
  color: $dkgrey-color;
  @include texto (calc(0.3em + 2vw),1.4em,$text_Bold);
  text-transform: uppercase;  
  padding: 10px 20px;
  margin: 10px 0;
}}

