.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.simon{
  background-image:url("../img/SimonCat.gif");
    height: 600px;
    background-position: center;

}
 
 .simon h3{
 font-size:60px;
 }
 
  .contant_box_404{
       font-size:30px;
       }
       
       .link_404{      
  color: #fff!important;
    padding: 10px 20px;
    background: $dkgrey-color;
    margin: 20px 0;
    display: inline-block;
  }

  .contant_box_404{ 
    margin-top:0px;
  }