/*//-- colores --//*/
$white-color:rgb(247, 244, 241);
$dkgrey-color:rgb(35, 35, 35);
$dkpink-color:rgb(255, 130, 222);
$dkgreen-color:rgb(50, 125, 41);
$mdgreen-color: rgb(102, 226, 116);
$ltgreen-gradient:linear-gradient(180deg, rgba(228,247,197,1) 0%, rgba(194,239,172,1) 100%);

/*//-- mapa colores --//*/
$rosas:
(mdpink-color:rgb(251, 186, 234),
ltpink-color: rgb(246, 203, 245),);

/*//-- texto --//*/
$Main_font: Verdana;
$Secondary_font: Helvetica;
$text_Md:1em;
$text_Bold:550;

/*//-- width 100% --//*/
$w-100:100%;











