* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Verdana", "Helvetica", sans-serif;
}
html {
    font-size: 62.5%;
}

/*--GRID BASE-->*/
.contenedor {
	display: grid;
    justify-content: center;
	grid-template-columns: 1fr;
	grid-template-areas: 
    "header"
    "nav"
    "main" 
	"footer";
}
/*-- ends GRID BASE-->*/

/*-- header -->*/
#header{
	grid-area: header;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    margin-bottom: 10px;
}
.container__header {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    margin-bottom: 10px;
}
.header__logo {
    width: 80px;
}

/*-- nav -->*/
#mainNav{
	grid-area: nav;
}
.container__nav {
    margin: 10px 30px;
}
.container__nav ul {
    display: flex;
    justify-content: space-evenly;  
}
.container__nav ul li {
    list-style: none;
}
nav ul li a {
    color: rgb(35, 35, 35);
    text-decoration: none;
    font-family: "Verdana", sans-serif;
    font-size: 1.5rem;
    font-weight: 550;
}

/*-- main -->*/
#main{
	grid-area: main;
    overflow: hidden;
    margin: 10px 20px 20px 20px;
    display:flex;
    justify-content: center;
}

/*//-- index --//>*/
.container__index {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.index__foto {
    width:200%;
    max-width:1200px;
}

/*//-- nosotros sumate --//>*/
#der1{
    grid-area: der1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
#der2{
    grid-area: der2;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
#izq{
    grid-area: izq;
    display: flex;
    flex-direction: column;
}
.nosotrxs__foto {
    width: 100%;
}
.sumate__foto {
    width: 100%;
}
.sumate__imgpng {
    width: 100%;
}

/*//-- adopciones --//>*/
.container__adopciones{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "en-adopcion"
    "Agatha"
    "Viernes"
    "Chapli"
    "Chiche";
    overflow: hidden;
    display:flex;
    flex-direction: column;
    }
#en-adopcion{
    grid-area: en-adopcion;
    display: flex;
    }
#Agatha{
        grid-area: Agatha;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
#Viernes{
    grid-area: Viernes;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
#Chapli{
    grid-area: Chapli;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
#Chiche{
    grid-area: Chiche;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
.container__adopciones img{
    width: 100%;
    object-fit: cover;
}
.container__adopciones p {
    padding: 5px 20px;
}

/*//-- contacto --//>*/
.container__contact{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "izq"
    "mapa";
    overflow: hidden;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#mapa{
    grid-area: mapa;
    display: flex;
    margin: 30px;
}
.map-responsive {
    overflow:hidden;
    padding-bottom: 100%;
    position:relative;
    height:0;
}
.map-responsive iframe {
    max-width: 100%;
}

/*//-- form --//>*/
.check{
    display:inline-block
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
}
.form p {
    margin: 20px 0;
}
label{
    display: block; 
    float: center;  
}
input,textarea {
    border: none;
    padding: 10px;
    margin: 5px;
    width: 90%;
    box-sizing: border-box;
}
.button-3d {
        min-width: 130px;
        height: 40px;
        padding: 5px 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 5px;
        border: none;
        background: rgb(194, 239, 172);
        box-shadow: 0 5px rgb(102, 226, 116);
}
.button-3d:hover {
        box-shadow: 0 3px rgb(102, 226, 116);
        top: 1px;
}
.button-3d:active {
        box-shadow: 0 0 rgb(102, 226, 116);
        top: 5px;
}
.check {
    display: inline-block;
    justify-content: end;
}
.checkmark {
    position: right;
    margin: 10px;
    background-color: #eee;
}

/*-- footer -->*/
#footer{
	grid-area: footer;
    display: flex;
    flex-direction: column;
}
.container__footer {
    display: flex;
    justify-content: end;
    padding: 10px 30px;
}
.footer__icon--sm {
    width: 30px;
    list-style: none;
    display: flex;
    margin-left: 10px;
}

/*-- bg and text -->*/
.bg__dkgrey {
    background-color: rgb(35, 35, 35);
}
.text__dkgrey {
    color: rgb(35, 35, 35);
}
.text__white {
    color: rgb(255, 255, 255);
}
.text__dkpink {
    color: rgb(255, 130, 222);
}
.bg__mdpink {
    background-color: rgb(251, 186, 234);
    padding: 10px;
}
.bg__ltpink {
    background-color: rgb(246, 203, 245);
}
.text__dkgreen {
    color: rgb(50, 125, 41);
}
.bg__mdgreen {
    background-color: rgb(102, 226, 116);
    padding: 10px;
}
.bg__limegreen{
    background-color: rgb(194, 239, 172);
    padding: 10px;
}
.verdana__text--XL {
    text-align: center;
    font-family: "Verdana", sans-serif;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 550;
}
.verdana__text--L {
    text-align: center;
    font-family: "Verdana", sans-serif;
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 550;
}
.verdana__text--M {
    text-align: center;
    font-family: "Verdana", sans-serif;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 550;
}
.verdana__text--S {
    text-align: center;
    font-family: "Verdana", sans-serif;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 550;
}
.helvetica__text--M {
    text-align: center;
    font-family: "Helvetica", sans-serif;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 550;
}
.helvetica__text--S {
    text-align: center;
    font-family: "Helvetica", sans-serif;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;
}
.helvetica__text--Lt {
    text-align: left;
    font-family: "Helvetica", sans-serif;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;
}

/*-- media -->*/
@media (max-width: 767px) {
    .container__nav {display: none; }
}
@media (max-width: 320px){
    .header__logo{
		width: 60px;}
}
@media (min-width: 350px){
.container__adopciones{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "en-adopcion en-adopcion"
    "Agatha Viernes"
    "Chapli Chiche";
    }
}
@media (min-width: 700px){
.container__adopciones{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "en-adopcion en-adopcion en-adopcion en-adopcion"
    "Agatha Viernes Chapli Chiche";
    }
}
@media (min-width:768px){
	.contenedor{
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: 
		"header header"  
        "nav nav"
		"main main"
        "footer footer";}
    .container__main {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "izq der1"
        "izq der2";
        align-items: center;}
    .container__contact {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "izq mapa";
    }
    .form {
        margin: 20px 0;}
    }
@media (min-width:1024px){
	.contenedor{
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas: 
		"header header header"
        "nav nav nav"  
		"main main main"
        "footer footer footer";}
    .container__nav ul {
        margin: 0px 40px;  }
    .container__index {
        width:80%;}
    .container__main {
        width:80%;}
        .container__adopciones {
            width:80%;}
    .container__contact {
        width:80%;}
    .container__footer {
        width:90%;}
}

